<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

	<!-- Chats Tab -->
	<ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
		<ion-nav-view name="tab-chats"></ion-nav-view>
	</ion-tab>

	<!-- Fiction Tab -->
	<ion-tab title="Fiction" icon-off="ion-ios-gear-outline" href="#/tab/fiction">
		<ion-nav-view name="tab-fiction"></ion-nav-view>
	</ion-tab>

	<!--  Non-Fiction Tab -->
	<ion-tab title="Non-Fiction" icon-off="ion-ios-gear-outline" href="#/tab/nonfiction">
		<ion-nav-view name="tab-nonfiction"></ion-nav-view>
	</ion-tab>

	<!--  History Tab -->
	<ion-tab title="History" icon-off="ion-ios-gear-outline" href="#/tab/history">
		<ion-nav-view name="tab-history"></ion-nav-view>
	</ion-tab>

	<!--  Science Tab -->
	<ion-tab title="Science" icon-off="ion-ios-gear-outline" href="#/tab/science">
		<ion-nav-view name="tab-science"></ion-nav-view>
	</ion-tab>


</ion-tabs>